/*Colors Used: 
Primary Color (dark green): #637560;
Secondary color (light green): #A5B6A2;
neutral color (off white): #F6F2E8;
tertiary color (light pink): #EBD7D9;
tertiary color 2 (light purple: #DED9E5 ;
 */
*{
box-sizing: border-box;
}
body{
  background-color: #F6F2E8;
  font-family: 'maitree', sans-serif;
  font-size: 16px; /*sets the font size to 16px*/
  font-weight: 300; /* sets the font weight to 300*/
  line-height: 1.6; /*sets the line height to 1.6*/
  color: #464B45;
}
h1, h2, h3, h4{
  line-height: 1.4;
}
h1 {
  font-size: 2em;
  font-weight: 700;
}
h2{
  font-size:1.75em;
  font-weight:700;
}
h3{
  font-size:1.25em;
  font-weight:400px
}
h4{
  font-size: .95em;
  font-weight: 400;
}
a, a:visited{
  color: #637560;
  text-decoration: underline;
  font-weight:600;
}
a:hover,
a:focus,
a:active{
  color:#DED9E5
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav li {
  display: inline-block;
}
nav a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}
nav a,
nav a:visited{
  color: #4a4a4a;
}
nav a:hover,
nav a:focus{
  color:#A5B6A2;
  text-decoration: underline;
}
nav a:active{
  color:#994c30;
}
.button {
    display: inline-block;
    background-color: #637560;
    color: white; 
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #222b22; 
    transition: 0.2s opacity;
    transition-duration: 0.2s;
    transition-property: opacity;
  }
  .button:visited{
    color: #DED9E5;
  }
  .button:hover,.button:focus,.button:active{
    opacity:0.8;
    text-decoration: none;
  }
  .button.contact {
    background-color: transparent;
    color: #637560;
    text-transform: uppercase;
    border: 2px solid #637560;
  }
  .button.contact:hover,.button.contact:focus,.button.contact:active {
    background-color: #637560;
    color: #ffffff;
  }
  img{
    width: 100%
  }
  header{
    background-color:#A5B6A2;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width:100%;
     box-shadow: 1px 11px 35px rgba(106, 122, 110, 0.4) ; 
    -webkit-box-shadow: 1px 11px 35px rgba(106, 122, 110, 0.4)  ; 
    -moz-box-shadow: 1px 11px 35px rgba(106, 122, 110, 0.4)  ; 
  }
  /* ICONS */
.social {
  margin-top: 40px;
}
.social a {
  display: inline-block;
}
.social svg {
  height: 40px;
  width: auto;
}
  /*layout styling*/
  .container{
    padding: 0 15px;
  }
  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }
  #hero{
    text-align: center;
  }
  #hero span {
    display: block;
    font-size: 65%;
    margin-top: 0.5em;
    font-weight: 500;
  }
  header .container{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap:0.5em;
  }
  .logo{
    max-width: 75px;
    line-height: 0;
  }
  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  nav > ul > li {
    display: inline-block;
  }
  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
  }
  nav{
  }
  #hero{
    background-color: #A5B6A2;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  #projects h2 {
    text-align: center;
  }
  p{
    text-align: left;
  }
  footer{
    text-align: center;
  }
  .container h2{
    text-align: center;
  }
  div.button-wrapper{
    text-align: center;
  }
  main{
    padding-top: 103.06px;
  }
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  /* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header{
    text-align: unset;
    padding: 15px 0;
  }
  header .container{
  flex-direction: row;
  justify-content: space-between;
  }
  nav {
    
  }
  main{
    padding-top: 79.46px;
  }
  .col-md-6 {
    width: 50%;
  }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
.col-lg-7{
  width:58.33%;
}
.col-lg-5 {
  width: 41.66%;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}