/*Colors Used: 
Primary Color (dark green): #637560;
Secondary color (light green): #A5B6A2;
neutral color (off white): #F6F2E8;
tertiary color (light pink): #EBD7D9;
tertiary color 2 (light purple: #DED9E5 ;
 */
 *{
  box-sizing: border-box;
 }
body{
    background-color: #F6F2E8;
    font-family: 'maitree', sans-serif;
    font-size: 16px; /*sets the font size to 16px*/
    font-weight: 300; /* sets the font weight to 300*/
    line-height: 1.6; /*sets the line height to 1.6*/
    color: #464B45;
}
h1, h2, h3, h4{
    line-height: 1.4;
}
h1 {
    font-size: 2em;
    font-weight: 700;
}
h2{
    font-size:1.75em;
    font-weight:700;
}
h3{
    font-size:1.25em;
    font-weight:400px
}
h4{
    font-size: .95em;
    font-weight: 400;
}
img{
    width: 100%;
}
a{
    color: #637560;
    text-decoration: none;
    font-weight:600;
}
nav > ul > li > a:visited{
color: #DED9E5;
}
nav > ul > li > a:hover,nav > ul > li > a:focus{
    color:#A5B6A2;
    text-decoration: underline;
}
nav > ul > li > a:active{
    color:#994c30
}
.button {
    display: inline-block;
    background-color: #637560;
    color: #524d4d; 
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #222b22; 
    transition: 0.2s opacity;
  }
  .button.visited{
    color: #DED9E5;
  }
  .button:hover,.button:active,.button:focus{
    opacity:0.8;
    text-decoration: none;
  }
  .button.contact {
    background-color: transparent;
    color: #637560;
    text-transform: uppercase;
    border: 2px solid #637560;
  }
  .button.contact:hover,.button.contact:active,.button.contact:focus {
    background-color: #637560;
    color: #ffffff;
  }
  img{
    width: 100%
  }
  header{
    background-color:#A5B6A2;
    padding: 10px 0;
    border-bottom: 3px solid #4a4a4a;
    text-align: center;
    position: relative;
    width:100%;
    .css-box-shadow{
      /*start ------------*/
      width: [object Object]px; 
      height: [object Object]px; 
      background: #F8F8F8; 
      border: solid #BDBDBD 0; 
      box-shadow: 1px 11px 35px rgba(47, 99, 61, 0.4)  ; 
      -webkit-box-shadow: 1px 11px 35px rgba(47, 99, 61, 0.4)  ; 
      -moz-box-shadow: 1px 11px 35px rgba(47, 99, 61, 0.4)  ; 
    }
  }
  
  svg{
    padding: 10px 5px;
    width: 10%;
    height: 10%;
  }
  /*layout styling*/
  .container{
    padding: 0 15px;
  }
  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }
  #hero h1, p{
    text-align: center;
  }
  .logo{
    max-width: 250px;
  }
  nav > ul {
    list-style-type: none;
    padding: 0;
  }
  nav > ul > li {
    display: inline-block;
  }
  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
  }
  nav{
    display: inline-block;
    width: 100%;
  }
  #hero{
    background-color: #A5B6A2;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  #projects h2 {
    text-align: center;
  }
  p{
    text-align: left;
  }
  footer{
    text-align: center;
  }
  .container h2{
    text-align: center;
  }
  #about.button {
    text-align: center;
  }
  